<%= javascript_pack_tag 'panel_root' %>
<!--<h1>Pages#panel</h1>-->
<!--<p>Find me in app/views/pages/panel.html.erb</p>-->



<!--<img src="<%#= image_path(current_user.avatar.medium.url) %>" />-->


<%#= link_to "salir",destroy_user_session_path, :method => :delete %>
